<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>halaman</title>
        <body>
          <style>
            h1,h2,p{
                text-align: center;
            }
          </style>
                <h1>SELAMAT DATANG DI WARUNG RM ASELA</h1>
            
            <h2>Makan Senang Jiwa Tenang</h2>
            <P>Asela adalah warung makan pertama yang berkonsep makan dipinggir pantai laut with a view and kinda instagramale place i think.</p>
            <p>yang terletak di desa terpencil desa sejati dusun gruggak kec camplong kab sampang </p>
            <p>masakannya enak,sambelnya juara,harganya juga masih reasonable,dan sekarang masih banyak pojok-pojok buat selfinya</p>
            <p>mungkin kalau ada tipe-tipe orang yang suka eksis di medsos pasti suka ke sini.apalagi ketika sore hari menjelang sunset,viewnya bagus sekali.</p>
    
        </body>
        <p><a href="/menu">menu</a></p>
    </head>
</html>